* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 2.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

header .logo {
  padding-top: 1.5rem;
  flex: 1;
}

header ul {
  display: flex;
  list-style-type: none;
}
header li {
  padding: 2.5rem 2rem 0;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #0065fc;
}

header li:hover {
  border-top: 0.125rem solid #0065fc;
  color: #0065fc;
  padding-top: 2.375rem;
}

.inscription {
  color: #0065fc;
  font-weight: 700;
  padding: 2.5rem 2.5rem 0;
}

h2,
h3 {
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
p {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
#search {
  margin-left: 1em;
  margin-bottom: 2rem;
}
#search i:first-child {
  background-color: #f2f2f2;
  padding: 21px;
  border-radius: 15px 0 0 15px;
}
input[type="text"] {
  height: 3em;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding-left: 1em;
  font-size: 1.2em;
  border-left: none;
  border-right: none;
  margin-left: -0.2em;
}
input[type="submit"] {
  height: 3em;
  width: 10em;
  font-size: 1.2em;
  background-color: #0065fc;
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  margin-left: -0.22em;
  font-weight: 550;
}

::placeholder {
  color: black;
  font-weight: 550;
}
#search i:last-child {
  background-color: #0065fc;
  color: white;
  border-radius: 15px;
  padding: 21px;
  margin-left: -0.7em;
  display: none;
}

#filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.filtre {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding-right: 2rem;
  height: 3.3rem;
  border: 0.125rem solid #d9d9d9;
  border-left: none;
  border-radius: 1.5rem;
}

.filtre span {
  padding-left: 12px;
}

.icone {
  display: flex;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.filtre:hover {
  cursor: pointer;
  background-color: #deebff;
}
#mes_filtres {
  display: flex;
  flex-wrap: wrap;
}

#info {
  display: flex;
  align-items: baseline;
  margin: 2rem 1rem;
}

#info div > i {
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 5px 10px;
}

/* HÉBERGEMENTS*/

h1 {
  font-size: 1.4rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 1em;
}

#hebergements {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

#hebergements i {
  color: #0065fc;
}

#hebergements a {
  text-decoration: none;
  color: black;
}

article {
  flex: 2;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-sizing: border-box;
  margin-right: 2em;
}

.figures_article {
  width: 15rem;
  padding: 4px;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}

.figures_article img {
  width: 14.5rem;
  height: 7.5rem;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.liens_article {
  border-radius: 20px;
  margin: 10px;
}

#container_figures_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 1.5em;
}

.figcaptions_article {
  height: 5rem;
}

.prix_hotel_article {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.8em;
}

.etoiles {
  margin-left: 0.8em;
}

aside {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 15px;
}

#container_figures_aside {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
  margin-right: 1.875em;
}

.figures_aside {
  display: flex;
  width: 90%;
  margin: 1em 2em 0.5em 1.5em;
  padding: 0.35em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 1px 5px 2px rgb(209 209 209);
}

.figures_aside img {
  width: 8.125rem;
  height: 9.375rem;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.figcaptions_aside {
  margin-left: 24px;
  width: 160px;
}

.nom_hotel_aside {
  font-weight: bold;
  margin-left: 0.1em;
  margin-top: 1em;
}

.prix_hotel_aside {
  margin-left: 0.1em;
}

aside .etoiles {
  margin-left: 0.1em;
}

.liens_aside {
  margin: 10px;
  border-radius: 10px;
}

.nom_hotel_article {
  font-weight: bold;
  margin-top: 0.5em;
  margin-left: 0.8em;
  margin-bottom: 0.5em;
}

#titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
}
#titre i {
  color: black;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

h4 {
  margin-left: 3em;
  margin-top: 3em;
  font-size: 0.9em;
}

h3 {
  font-size: 1.3em;
}

#acts {
  margin-top: 2em;
  margin-bottom: 2em;
}

.port img {
  height: 30rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.port_image {
  display: flex;
  flex-direction: column;
}

.act_content {
  display: flex;
  flex-direction: column;
  margin-top: -1em;
  bottom: 0;
  background-color: white;
  box-shadow: 3px 3px 5px #f2f2f2;
  width: 90%;
  font-weight: 600;
  box-sizing: border-box;
  padding: 1em 3em 1em 1em;
  border-radius: 0 0 15px 15px;
}
.pomegues img {
  height: 14rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.pomegues_image {
  display: flex;
  flex-direction: column;
}

.frioul img {
  height: 10rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.frioul_image {
  display: flex;
  flex-direction: column;
}

.calanques img {
  height: 30rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.calanques_image {
  display: flex;
  flex-direction: column;
}

.notredame img {
  height: 12rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.notredame_image {
  display: flex;
  flex-direction: column;
}

.longchamp img {
  height: 10rem;
  width: 90%;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.longchamp_image {
  display: flex;
  flex-direction: column;
}

#activites {
  margin-left: 1em;
  width: 100%;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#activites a {
  color: black;
  text-decoration: none;
}

.port {
  grid-row: 1 / span2;
}
.pomegues {
  grid-column-start: 2;
}
.frioul {
  grid-column-start: 2;
  grid-row-start: 2;
}
.calanques {
  grid-column-start: 3;
  grid-row: 1 / span2;
}
.notredame {
  grid-column-start: 4;
}
.longchamp {
  grid-column-start: 4;
  grid-row-start: 2;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 40px 0;
  margin: 0 -2em;
}
footer h3 {
  margin-left: 0;
}
footer li {
  list-style-type: none;
}
.footer_column {
  flex-direction: row;
  margin-right: 10em;
}
footer p {
  margin-left: 0;
}
footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: #0065fc;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  #hebergements {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 96.5%;
    margin-top: 1em;
    margin-bottom: 1em;
    order: 1;
  }

  article {
    order: 2;
  }

  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .container {
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
  }

  header {
    flex-direction: column;
    margin-left: 0.5em;
  }
  header img {
    margin-left: 0.8rem;
  }

  nav ul {
    width: 110%;
    padding-left: 0;
    margin-left: -1rem;
  }

  nav ul li {
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 1rem;
    width: 50%;
    text-align: center;
  }

  header li:hover {
    border-top: none;
    border-bottom: 0.125rem solid #0065fc;
    color: #0065fc;
    padding-bottom: 1rem;
  }

  nav {
    order: 3;
  }

  .inscription {
    align-self: flex-end;
    margin-top: -4.8rem;
    margin-right: -1rem;
  }

  h2,
  h3,
  p {
    margin-left: 1rem;
  }
  input[type="submit"] {
    display: none;
  }
  #search i:last-child {
    display: inline;
  }

  .filtre {
    margin-bottom: 1em;
  }

  aside {
    order: 1;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 0;
  }

  h1 {
    margin-left: 1em;
  }

  article {
    order: 2;
    background-color: white;
  }

  .figures_aside {
    margin-bottom: 0.2em;
    width: 105%;
    margin-left: -0.3rem;
  }

  .figures_article {
    width: 130%;
    margin-left: -1rem;
  }

  .figures_article img {
    width: 100%;
  }
  .figcaptions_article {
    width: 100%;
  }

  #activites {
    display: flex;
    flex-direction: column;
  }

  #activites img {
    height: 10rem;
    width: 90%;
  }

  .act_content {
    width: 90%;
    margin-bottom: 1.5rem;
  }

  #acts {
    box-sizing: border-box;
    margin-left: 1em;
  }

  footer {
    display: flex;
    margin-top: 45em;
    width: 100%;
    margin-left: 0;
  }
}
