* {
  font-family: "Raleway", sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding-left: 40px;
  padding-right: 40px;
}

.inscription {
  font-weight: bold;
  color: #0065fc;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: #0065fc;
  border-top: solid 3px #0065fc;
  padding-top: 21px;
}

/* SECTION RECHERCHER */
.search {
  position: relative;
  width: 500px;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 30px;
}
input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="text"] {
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  border: solid 1px #f2f2f2;
  border-left: none;
  padding: 0 20px;
}

input[type="submit"] {
  position: relative;
  left: -5px;
  border-radius: 0 15px 15px 0;
  height: 50px;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  width: 150px;
  border: none;
  cursor: pointer;
}

::placeholder {
  color: black;
  font-weight: bold;
}

form i {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  padding: 18px;
  right: -5px;
}

.info {
  display: flex;
  align-items: center;
}

.info i {
  display: inline-block;
  color: #0065fc;
  background-color: white;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}
.info p {
  margin-left: 15px;
}

/* Filtres */
.liens {
  display: flex;
  justify-content: start;
  position: relative;
}

.liens p {
  font-size: 25px;
  font-weight: bold;
  line-height: 4px;
}

.economique a {
  font-size: 30px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 8em;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 30px;
  left: 100px;
}

.economique i {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 100px;
}

.familial a {
  font-size: 30px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 200px;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 30px;
  left: 390px;
}

.familial i {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 390px;
}

.romantique a {
  font-size: 30px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 250px;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 30px;
  left: 640px;
}

.romantique i {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 640px;
}

.animaux a {
  font-size: 30px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 350px;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 30px;
  left: 940px;
}

.animaux i {
  position: absolute;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 940px;
}

.liens a:hover {
  background-color: #deebff;
  cursor: pointer;
}

/* Hébergements */
article {
  background-color: #f2f2f2;
}

.premiereligne {
  display: flex;
  flex-direction: row;
}

.deuxiemeligne {
  display: flex;
  flex-direction: row;
}

#cannebiere_image {
  position: relative;
}

#cannebiere_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#cannebiere_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

#hotelduport_image {
  position: relative;
}

#hotelduport_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#hotelduport_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

#hotellesmouettes_image {
  position: relative;
}

#hotellesmouettes_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#hotellesmouettes_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

#hoteldelamer_image {
  position: relative;
}

#hoteldelamer_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#hoteldelamer_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

#aubergelepanier_image {
  position: relative;
}

#aubergelepanier_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#aubergelepanier_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

#hotelchezamina_image {
  position: relative;
}

#hotelchezamina_image img {
  border-radius: 10px;
  width: 12em;
  height: 13em;
}

#hotelchezamina_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: #f2f2f2;
}

footer ul {
  list-style-type: none;
  text-align: start;
  padding-left: 0;
}

footer div {
  padding-left: 40px;
  padding-right: 250px;
}

footer li {
  padding-top: 10px;
}

footer h2 {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065fc;
}
