* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 2em 2em 0 2em;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.inscription {
  font-weight: bold;
  color: #0065fc;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: #0065fc;
  border-top: solid 3px #0065fc;
  padding-top: 2.8em;
}

/* SECTION RECHERCHER */
.search {
  position: relative;
  width: 31.25em;
  height: 3.125em;
  padding-left: 1.875em;
  margin-bottom: 2em;
  margin-left: -2.2em;
}
input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="text"] {
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  border: solid 1px #f2f2f2;
  border-left: none;
  padding: 0 20px;
}

input[type="submit"] {
  position: relative;
  left: -5px;
  border-radius: 0 15px 15px 0;
  height: 50px;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  width: 150px;
  border: none;
  cursor: pointer;
}

::placeholder {
  color: black;
  font-weight: bold;
}

form i {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 15px 0 0 15px;
  padding: 18px;
  right: -5px;
}

form i:last-child {
  background-color: #0065fc;
  color: white;
  border-radius: 15px;
  position: absolute;
  display: none;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.info i {
  display: inline-block;
  color: #0065fc;
  background-color: white;
  padding: 0.8em;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  line-height: 0.25em;
  text-align: center;
}
.info p {
  margin-left: 15px;
}

/* FILTRES */
.liens {
  display: flex;
  justify-content: start;
  position: relative;
  margin-bottom: 2em;
}

.liens p {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 0.4em;
}

.economique a {
  font-size: 1.4em;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 8em;
  height: 2.3em;
  line-height: 2.3em;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 1.8em;
  left: 4.2em;
}

.economique i {
  position: absolute;
  padding: 0.5em;
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 4.1em;
}

.familial a {
  font-size: 1.4em;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 8em;
  height: 2.3em;
  line-height: 2.3em;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 0.9em;
  left: 15.4em;
}

.familial i {
  position: absolute;
  padding: 0.5em;
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 15.1em;
}

.romantique a {
  font-size: 1.4em;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 8em;
  height: 2.3em;
  line-height: 2.3em;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 1.2em;
  left: 26em;
}

.romantique i {
  position: absolute;
  padding: 0.5em;
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 25.6em;
}

.animaux a {
  font-size: 1.4em;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  width: 12em;
  height: 2.3em;
  line-height: 2.3em;
  font-weight: 600;
  position: absolute;
  border: solid 2px #f2f2f2;
  padding-left: 1.2em;
  left: 36.2em;
}

.animaux i {
  position: absolute;
  padding: 0.5em;
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  left: 36.2em;
}

.liens a:hover {
  background-color: #deebff;
  color: #0065fc;
  cursor: pointer;
  transition: 0.7s;
}

/* HÉBERGEMENTS */

#hebergements i {
  color: #0065fc;
}

#hebergements {
  width: 100%;
  height: 46em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

article {
  background-color: #f2f2f2;
  width: 64%;
  border-radius: 15px;
}

article a {
  color: black;
}

article p {
  margin-left: 2em;
  margin-top: 1.5em;
  font-size: 1.3em;
}

h4 {
  font-weight: normal;
  margin-left: 2em;
  font-weight: bold;
}
.premiereligne {
  display: flex;
  flex-direction: row;
}

.deuxiemeligne {
  display: flex;
  flex-direction: row;
}

article img {
  border-radius: 15px;
  width: 14em;
  height: 15em;
  border: 0.3em solid white;
}

#cannebiere_image {
  position: relative;
  margin: 1em 2em;
}

#cannebiere_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

#cannebiere_description i:nth-child(8) {
  color: #f2f2f2;
}

#hotelduport_image {
  position: relative;
  margin: 1em 2em;
}

#hotelduport_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

#hotellesmouettes_image {
  position: relative;
  margin: 1em 2em;
}

#hotellesmouettes_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

#hotellesmouettes_description i:nth-child(8) {
  color: #f2f2f2;
}

#hoteldelamer_image {
  position: relative;
  margin: 1em 2em;
}

#hoteldelamer_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

#hoteldelamer_description i:nth-child(7) {
  color: #f2f2f2;
}
#hoteldelamer_description i:nth-child(8) {
  color: #f2f2f2;
}

#aubergelepanier_image {
  position: relative;
  margin: 1em 2em;
}

#aubergelepanier_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

#aubergelepanier_description i:nth-child(8) {
  color: #f2f2f2;
}

#hotelchezamina_image {
  position: relative;
  margin: 1em 2em;
}

#hotelchezamina_description {
  position: absolute;
  bottom: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 1em 1em 1em;
}

/* LES PLUS POPULAIRES */

aside {
  background-color: #f2f2f2;
  width: 34%;
  border-radius: 15px;
}

aside a {
  color: black;
}

aside img {
  position: absolute;
  width: 40%;
  height: 93%;
  border-radius: 15px 0 0 15px;
  border: 0.3em solid white;
}
#titre {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 2em;
  margin-top: 0.5em;
  font-size: 1.3em;
}

#titre i {
  color: black;
  line-height: 3.3em;
}

#soleildumatin {
  position: relative;
  background-color: white;
  width: 90%;
  height: 9em;
  margin: 1em 1.5em;
  margin-bottom: 2.5em;
  border-radius: 15px;
}

#soleildumatin_description {
  position: absolute;
  right: 0;
  padding: 1em;
}
#aucoeurdeleau {
  position: relative;
  background-color: white;
  width: 90%;
  height: 9em;
  margin: 1.5em 1.5em;
  margin-bottom: 2.5em;
  border-radius: 15px;
}

#aucoeurdeleau_description {
  position: absolute;
  right: 2em;
  padding: 1em;
}
#aucoeurdeleau_description i:nth-child(6) {
  color: #f2f2f2;
}
#bleuetblanc {
  position: relative;
  background-color: white;
  width: 90%;
  height: 9em;
  margin: 1.5em 1.5em;
  border-radius: 15px;
}

#bleuetblanc_description {
  position: absolute;
  right: 0;
  padding: 1em;
}
#bleuetblanc_description i:nth-child(6) {
  color: #f2f2f2;
}

/* ACTIVITÉS */
h3 {
  font-size: 1.3em;
}

.port img {
  height: 30em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.port_image {
  position: relative;
}

.content {
  position: absolute;
  bottom: 0;
  background-color: white;
  box-shadow: 3px 3px 5px #f2f2f2;
  width: 19em;
  font-weight: 600;
  box-sizing: border-box;
  padding: 1em 3em 1em 1em;
  border-radius: 0 0 15px 15px;
}
.pomegues img {
  height: 14em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.pomegues_image {
  position: relative;
}

.frioul img {
  height: 10em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.frioul_image {
  position: relative;
}

.calanques img {
  height: 30em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.calanques_image {
  position: relative;
}

.notredame img {
  height: 12em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.notredame_image {
  position: relative;
}

.longchamp img {
  height: 10em;
  width: 19em;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #f2f2f2;
}

.longchamp_image {
  position: relative;
}

#activites {
  width: 100%;
  height: 40em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#activites a {
  color: black;
}

.port {
  grid-row: 1 / span2;
}
.pomegues {
  grid-column-start: 2;
}
.frioul {
  grid-column-start: 2;
  grid-row-start: 2;
}
.calanques {
  grid-column-start: 3;
  grid-row: 1 / span2;
}
.notredame {
  grid-column-start: 4;
}
.longchamp {
  grid-column-start: 4;
  grid-row-start: 2;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: start;
  flex-direction: row;
  background-color: #f2f2f2;
  margin-left: -2em;
  margin-right: -2em;
}

footer ul {
  list-style-type: none;
  text-align: start;
  padding-left: 0;
}

footer div {
  padding-left: 40px;
  padding-right: 250px;
}

footer li {
  padding-top: 10px;
}

footer h2 {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065fc;
}

/* MEDIA QUERIES */

@media screen and (max-width: 414px) {
  body {
    width: 736px;
  }

  input[type="submit"] {
    display: none;
  }

  form i:last-child {
    display: inline-block;
    left: 19em;
  }
  #hebergements {
    display: flex;
    flex-direction: column;
  }
  #hebergements article {
    order: 2;
  }
  article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .premiereligne {
    display: flex;
    flex-direction: column;
  }
  .deuxiemeligne {
    display: flex;
    flex-direction: column;
  }
  aside {
    display: flex;
    flex-direction: column;
    height: 50em;
    width: 100%;
  }
  #activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75em;
  }

  #activites img {
    height: 20em;
    width: 90%;
  }

  .port_image {
    margin: 1em 1em;
  }
  .pomegues_image {
    margin: 1em 1em;
  }
  .frioul_image {
    margin: 1em 1em;
  }
  .calanques_image {
    margin: 1em 1em;
  }
  .notredame_image {
    margin: 1em 1em;
  }
  .longchamp_image {
    margin: 1em 1em;
  }
  footer {
    flex-direction: column;
    white-space: nowrap;
  }
}
